.collapse {
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #ff6060;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    
    @media (max-width: 769px) {
      padding: 10px;
    }
  }

  &-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin: 0;

    @media (max-width: 769px) {
      font-size: 13px;
      font-weight: 700;
      line-height: 18.54px;
      text-align: left;
    }
  }

  &-arrow {
    font-size: 24px; 
    color: #fff;
    transition: transform 0.3s ease;

    @media (max-width: 769px) {
      width: 16px;
    }
  }

  &-content {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
    background: #F6F6F673;
    color: #000;
    border-top: none;
    border-radius: 0 0 5px 5px;

    @media (max-width: 769px) {
      font-size: 12px;
      font-weight: 400;
      line-height: 17.11px;
      text-align: left;
    }
  }

  &.open &-content {
    animation: slideDown 0.3s ease-out;
  }

  @keyframes slideDown {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 1000px;
      opacity: 1;
    }
  }

  @media (max-width: 769px) {
    width: 335px;
  }

  @media (min-width: 769px) {
    width: calc(50% - 10px);
  }
}

.collapse-section {
  margin: 20px;

  @media (max-width: 769px) {
    margin-bottom: 156px;
    margin-top: 50px;
  }
}