.footer {
    padding: 66px 464px 29px 463px;
    background-color: #000000;
    text-align: center;
    margin-top: 50px;

    
    .footer-logo {
      margin-bottom: 20px;
    }
    
    .footer-text {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 34px;
      color: white;
    }
  }
  